MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=magento
MYSQL_USER=magento
MYSQL_PASSWORD=magento
MYSQL_PORT=3306

OPENSEARCH_PORT=9201
REDIS_PORT=6379

POSTGRES_VERSION=16
POSTGRES_DB=temporal
POSTGRES_USER=temporal
POSTGRES_PASSWORD=temporal
POSTGRES_PORT=5433

TEMPORAL_FRONTEND_PORT=7233
TEMPORAL_UI_PORT=8088

DURABLE_DSN=temporal://127.0.0.1:7233?namespace=default&journal_task_queue=durable-journal&activity_task_queue=durable-activities&tls=0
