<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Gplanchat\Durable\ActivityExecutor" type="Gplanchat\Durable\RegistryActivityExecutor"/>

    <type name="Gplanchat\DurableModule\Model\Dbal\SharedDoctrineConnection" shared="true"/>

    <type name="Gplanchat\DurableModule\Console\Command\ConsumeActivitiesCommand">
        <arguments>
            <argument name="maxActivityRetries" xsi:type="number">0</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="gplanchat_durable_consume_activities" xsi:type="object">Gplanchat\DurableModule\Console\Command\ConsumeActivitiesCommand</item>
            </argument>
        </arguments>
    </type>
</config>
